<!doctype html>

<html>
	<head>
		<link rel='stylesheet' href='/style.css' />

		<title>About</title>
	</head>

	<body>

		<div class="centralContainer">
			<div class="pageContent">

				<h1>About</h1>

				<nav class="navBar">
					<ul>
						<li><a href='./'>Home</a></li>
						<li><a href='/about'>About</a></li>
						<li><a href='/register'>Register</a></li>
						<li><a href='/login'>Log In</a></li>
						<li><a href='/logout'>Log Out</a></li>
						<li><a href='/addfood'>Add Food</a></li>
						<li><a href='/search'>Search</a></li>
						<li><a href='/update'>Update</a></li>
						<li><a href='/listfood'>Food List</a></li>
						<li><a href='/api'>API</a></li>
					</ul>
				</nav>

				<ul class="about">
					<li>Created: 2021</li>
					<li>Module: Data and the Web</li>
					<li>Course: Computer Science</li>
					<li>Year: 2</li>
					<li>Developer: David Docherty</li>
				</ul>

			</div>
		</div>
	</body>
</html>
