<!doctype html>

<html>
	<head>
		<link rel='stylesheet' href='/style.css' />

		<title>The Storeboard</title>
	</head>

	<body>

		<div class="centralContainer">
			<div class="pageContent">

				<h1>The Storeboard</h1>

				<nav class="navBar">
					<ul>
						<li><a href='./'>Home</a></li>
						<li><a href='/about'>About</a></li>
						<li><a href='/register'>Register</a></li>
						<li><a href='/login'>Log In</a></li>
						<li><a href='/logout'>Log Out</a></li>
						<li><a href='/addfood'>Add Food</a></li>
						<li><a href='/search'>Search</a></li>
						<li><a href='/update'>Update</a></li>
						<li><a href='/listfood'>Food List</a></li>
						<li><a href='/api'>API</a></li>
					</ul>
				</nav>

				<p>Welcome to my web application. It is designed to conveniently store nutritional information for the food you eat. I hope you find it useful. To view all the food in the database, head to the Food List. Alternatively, you can search for your favourite food. To create a new food, you'll need to register and login.</p>

				<div class="art">(</div>
				<div class="art">)</div>
				<div class="art">___..---..___</div>
				<div class="art">,-='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`=-.</div>
				<div class="art">:--..___________..--;</div>
				<div class="art"> \.,_____________,./</div>

			</div>
		</div>

	</body>
</html>
